[build]
  base = "frontend"
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"



[context.production.environment]
  NEXT_PUBLIC_STRAPI_URL = "https://network-masters-hub-pkkk.onrender.com"

  # Update this in Netlify UI after deploying backend
